<div class='left-side-bar'>
	<div class="logo"> 
	 	<div class="vp"> VicePrice </div>
	 	<div class="slogan"> Find Your Perfect Happy Hours </div>
	 	<div class="beta"> (In Beta) </div>
	</div>
<!--
	<div class='search-div'>
		<p>SEARCH</p>
			<form method="get" action="/search" id="search">
				<input name="q" type="text" size="40" />
			</form>
	</div>
-->

	<div class='hours-div'>
		<p>HOURS</p>
			<output for="day" id="day_output"></output>
			<div class="slider">
			<input type="range" id="day" value="1" step="1" min="1" max="7">
			</div>
			<output for="time" id="time_output"></output>
			<button class="now">( Right Now )</button>
			<input type="range" id="time" disabled>

			<input type="checkbox" id="today" name="today" value="">
			<label for="today" class="today_label">Filter by Time</label>
	</div>
	<br>
	<div class='legend-div'>
	<p>GUIDE</p>
		<div class="legend-img">
			<img src="../static/img/bar-legend.png"/>
			<span class="caption">Bar</span> 
		</div>
		<div class="legend-img">
			<img src="../static/img/res-legend.png"/>
		 	<span class="caption">Restaurant</span>
		</div>
	</div>

	<div class="about-contact-us">
		<a href="about">About</a>
		<a href="mailto:contact@viceprice.co">Contact Us</a>
        <a href="TOS.html">Privacy Policy &amp; Terms of Service</a>
		<div class="attribution">t
			<a href="http://leafletjs.com" title="A JS library for interactive maps">© Leaflet</a> 
			<a href='https://www.mapbox.com/about/maps/'>© Mapbox</a>
		</div>
	</div> 
</div> 

<div class="zooming-bar">
	<ul>
	<li><img src="../static/img/neighborhood.jpg" id="neighboor-zoom" title="Neighborhood View"/> </li>
	<li><img src="../static/img/zoom-in.png" id="zoom-in" title="Zoom In"/> </li>
    <li><img src="../static/img/zoom-out.png" id="zoom-out" title="Zoom Out"/> </li>
    </ul>
</div>
