<div id="mobile-logo" class="mobile-logo mobile">
	<div class="mobile-vp">VicePrice</div>
    <div class="mobile-vp">Find Drinks Near You</div>
</div>

<div id="mobile-item-info" class="mobile-item-info" style="display:none;">
  <div id="mobile-item-short" class="mobile-item-short"></div>

  <div id="mobile-item-showfull" class="mobile-item-close outer-shadow-bottom">
    <img src="static/img/downarrow.svg" width="28" height="28" />
  </div>

  <div id="mobile-item-details" class="mobile-item-details" style="display:none;"></div>
</div>

<div class="left-side-bar desktop">
	<div class="logo">
	 	<div class="vp"> VicePrice </div>
	 	<div class="slogan"> Find Drinks Near You </div>
        <div class="beta"> (In Beta for Washington DC) </div>
	</div>
    <!---About Section-->			
    <div class="about-div">				
   	 <p>INSTRUCTIONS</p>			
       <div class="abouttext-div"><center>VicePrice is a near-real time aggregator of Drink Specials in Washington DC.</center><br> 
        1) Choose a neighborhood<br>
        2) Click icon for more detail<br>
        --Bonus: Hover to see cheapest price available<br>
        3) Click address for directions<br>
      </div></div>
	<div class='hours-div'>
		<p>FILTERS</p>
		<output for="day" class="day_output" id="day_output"></output>
		<div class="slider">
		<input type="range" class="day" id="day" value="1" step="1" min="1" max="7" onclick="ga('send', 'event', 'Day Slider', 'Adjust Time', 'Desktop');">
		</div>
		<output for="time" id="time_output" class="time_output" hidden></output>
		<input type="range" id="time" class="time" hidden>

		<input type="checkbox" id="filter-by-hours-desktop" name="filter-by-hours-desktop" value="" onclick="ga('send', 'event', 'Hour Slider', 'Adjust Time', 'Desktop');">
		<label for="filter-by-hours-desktop" class="filter-by-hours-label">Search by Hours</label>
	</div>
    <!---Legend-->		
    <div class='legends-div'>				
        <p>LEGEND</p>	
        <div class="legend-images">
            <div class="legend-img">				
                <img src="../static/img/bar-legend.png"/>		      		
                <span class="caption">Bars</span> 		      		
            </div>				
            <div class="legend-img">				
                <img src="../static/img/res-legend.png"/>		      		
                <span class="caption">Restaurants</span>		      		
            </div>
            <div class="legend-img-metro" >				
                <img src="../static/img/metro.png">		      		
                <span class="caption">Metro</span>		      		
            </div>
        </div>
    </div>
<div class="contact-us">
		<a href="TOS">Privacy Policy &amp; TOS</a>
	</div>
</div>

<ul id="mobile-icon-actions" class="mobile-icons mobile">
  <li id="mobile-overview-zoom">
      <img src="static/img/route.svg" width="42" height="42" />
  </li>
  <!--<li class="extra-space-between" id="current-location">
        <img src="static/img/aim.svg" width="28" height="28" />
      </li>-->
  <li id="mobile-settings">
      <img src="static/img/controls.svg" width="42" height="42" />
  </li>
</ul>

<div id="mobile-filters" class="mobile-filters outer-shadow-top mobile" style="display: none;">
  <div class="mobile-filters-close">
    <img src="static/img/downarrow.svg" width="28" height="28" />
  </div>

  <div class="mobile-filters-actions">
    <div class="mobile-filters-title">
      <div class="mobile-filters-title-decorate">
        <span>Happy Hours</span>
      </div>
    </div>

	  <output for="day" class="day_output" id="day_output"></output>
	  <div class="slider">
	    <input type="range" class="day" id="day" value="1" step="1" min="1" max="7" onclick="ga('send', 'event', 'Day Slider', 'Adjust Time', 'Mobile');">
	  </div>

		<output for="time" id="time_output" class="time_output" hidden></output>
		<input type="range" id="time" class="time" hidden>

		<input type="checkbox" class="filter-by-hours" id="filter-by-hours" name="filter-by-hours" value="" onclick="ga('send', 'event', 'Hour Slider', 'Adjust Time', 'Mobile');">
		<label for="filter-by-hours" class="filter-by-hours-label">Filter by Hours</label>
  </div>
</div>

<div class="zooming-bar">
	<ul>
		<li><img src="../static/img/zoom-in.png" id="zoom-in" title="Zoom In"/> </li>
    	<li><img src="../static/img/zoom-out.png" id="zoom-out" title="Zoom Out"/> </li>
    </ul>
</div>
<div id="overview-zoom">
	<i class="icon-arrow-left" style="display: inline; font-size: 0.7rem"></i>
	<span>Back to Map Overview</span>
</div>
