<div class='right-side-bar'>
  <img src="../static/img/sushi.jpg" width="300" height="170px"/>
  <div class="bar-info-div">
    <h1> Hanate Sushi Bar</h1>
    <h3> Facny Bar | </h3><h4>3:00 PM to 5:30 PM </h4>
  </div>
  <div class="specials-div">
    <h2> Happy Hour Specials </h2>
    <p>$5 Drink Specials</p>
    <ul>
      <li>Beer</li>
      <ul>
        <li>$2 off all drafts</li>
      </ul>
      <li>Wine</li>
      <ul>
        <li>$5 House Wines</li>
      </ul>
      <li>Cocktails &amp; Sprits</li>
      <ul>
        <li>$1 off all rails</li>
        <li>$2 off all cocktails</li>
        <li>$9 Boiler Maker</li>
        <li>$1 off all rails</li>
        <li>$2 off all cocktails</li>
        <li>$1 off all rails</li>
        <li>$2 off all cocktails</li>
      </ul>
    </ul>
  </div>
  <div class="reviews-div">
    <div style="overflow:hidden;">
      <h2> Reviews </h2>
      <img src="../static/img/facebook_icon.png" style="display:block;float:right;width:20%; height:20%; padding-bottom:5%"/>
    </div>
    <ul>
      <li><img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> it's like a Moroccan oasis in the middle of ....
      </li>
      <hr class="review-hr">
      <li>
        <img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> try getting a table by window ...
      </li>
      <hr class="review-hr">
      <li>
        <img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> seared scallops along ..
      </li>
      <hr class="review-hr">
      <li>
        <img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> seared scallops along ..
      </li>
      <hr class="review-hr">
    </ul>
    <a href="url"> Read more ... </a>
  </div>
</div>
