<div class='right-side-bar'>
  <img id="location-cover-photo" />
  <h1 id="location-name">Hanate Sushi Bar</h1>
  <div id="location-categories">General Bar</div>
  <div class="specials-div">
    <p id="specials-time-frame"></p>
  </div>
  <div class="location-details-div">
      <div class="location-detail">
          <i class="icon-home"></i>
          <span id="location-address"></span>
      </div>
      <div class="location-detail">
          <i class="icon-phone"></i>
          <span id="location-phone-number"></span>
      </div>
      <div class="location-detail">
          <i class="icon-globe"></i>
          <a id="location-website" target="_blank"></a>
      </div>
  </div>
  <div class="reviews-div">
      <h2> Reviews </h2><img id="yelp_log" src="../static/img/yelp-logo-small.png" style="margin-left:1.5rem;"/> 
      <div class="review_count">
        <img id="rating_img" src=""/><p id="review_count"></p>
      </div>
      <hr/>
      <div class="yelp_reivew">
        <img id="profile_img" src=""/>
        <div class="username">
        <p id="name"></p>
        <!-- <img id="user_rating_img" src=""/> -->
        </div>
        <p id="excerpt"></p>
        <a id="readMore" href="" target="_blank"></a>
      </div>
  </div>
  </div>

<div class="sliding">  
<img class="slider-arrow" src="../static/img/left-arrow.png" style="position: absolute;top:50%;"/> 
</div>

