<div class='right-side-bar'>
  <img id="location-cover-photo" />
  <h1 id="location-name"></h1>
  <div id="location-categories"></div>
  <div class="specials-div">
    <p id="specials-time-frame"></p>
  </div>
  <div class="location-details-div">
      <div class="location-detail">
          <i class="icon-home" style="display: none;"></i>
          <span id="location-address">Welcome ..!</span>
      </div>
      <div class="location-detail">
          <i class="icon-phone" style="display: none;"></i>
          <span id="location-phone-number"></span>
      </div>
      <div class="location-detail">
          <i class="icon-globe" style="display: none;"></i>
          <a id="location-website" target="_blank"></a>
      </div>
  </div>
  <div class="reviews-div">
      <h2 class="rev"></h2><img id="yelp_log" src="" style="margin-left:1.5rem;"/> 
      <div class="review_count">
        <img id="rating_img" src=""/><p id="review_count"></p>
      </div>
      <hr class="rev-hr" style="display: none;"/>
      <div class="yelp_reivew">
        <img id="profile_img" src=""/>
        <div class="username">
        <p id="name"></p>
        </div>
        <p id="excerpt"></p>
        <a id="readMore" href="" target="_blank"></a>
      </div>
  </div>
  </div>

<div class="sliding">  
<img class="slider-arrow" src="../static/img/left-arrow.png" style="position: absolute;top:50%;"/> 
</div>