<!DOCTYPE html>
<html>
    <head>
    <meta name="description" content="The most complete coverage of Washington DC's happy hours." />
	<meta name="abstract" content="Washington DC Happy Hours listings" />
	<meta name="keywords" content=" DC Happy Hours, Happy Hours Washington DC, Washington DC, bars, drinks, happy hours, Washington, DC, Happy, Hours, Happy Hour, Happy Hours in Washington DC, Happy Hours in DC, Restaurants, happy hours near me, happy hours near Washington DC, drink specials near me, drink specials, drink deals" />
	<meta name="apple-mobile-web-app-title" content="DC Happy Hours">
	<meta property="og:title" content="viceprice.co/" />
	<meta property="og:description" content=" Discover Happy Hours in Washington DC" />
	<meta property="og:url" content="viceprice.co/" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Language" content="English" />
	<meta name="classification" content="Washington DC Happy Hours" />
        {% load staticfiles %}
        <meta charset="utf-8">
        <title>VicePrice</title>
        <meta name="description" content>
        <meta name="author" content="Michelle Shu">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet" type="text/css">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/viceprice.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css">

        <!-- JavaScript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
        <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    	

        {% block resources %}{% endblock %}
    </head>
    <body>
    <div class="header-bar clearfix">
        <div class="header-script">viceprice</div>

        {% if user.is_authenticated %}
            <div class="header-right">
                Hey there, {{ user.get_username }}! | <a href="/logout/">Logout</a>
            </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    </body>
</html>
