<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <title>Vice Price</title>
        <meta name="description" content>
        <meta name="author" content="Michelle Shu">

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Playball" rel="stylesheet" type="text/css">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/viceprice.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css">

        <!-- JavaScript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
        <script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>

        {% block resources %}{% endblock %}
    </head>
    <body>
    <div class="header-bar clearfix">
        <div class="header-script">viceprice</div>

        {% if user.is_authenticated %}
            <div class="header-right">
                Hey there, {{ user.get_username }}! | <a href="/logout/">Logout</a>
            </div>
        {% endif %}
    </div>

    {% block content %}{% endblock %}
    </body>
</html>
