{% extends "base.html" %}

{% load staticfiles %}

{% block resources %}
    <link rel="stylesheet" href="{% static 'css/enter-happy-hour.css' %}">
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/enter-happy-hour.js' %}"></script>
{% endblock resources %}

{% block content %}
    <input type="hidden" id="first-name" value="{{userFirstName}}"/>
    <input type="hidden" id="location-id" value="{{location.id}}"/>
    <div class="container happy-hour-entry-container">
        <div class="row">
            <strong>Location:</strong> {{location.name}}
        </div>
        <div class="row">
            <strong>Neighborhood:</strong> {{location.neighborhood}}
        </div>
        <div class="row">
            <strong>Website:</strong> 
            <a href="{{location.website}}" target="_blank">{{location.website}}</a>
        </div>
        {% if location.happyHourWebsite %}
        <div class="row">
            <strong>Happy Hour Website:</strong>
            <a href="{{location.happyHourWebsite}}" target="_blank">{{location.happyHourWebsite}}</a>
        </div>
        {% endif %}
        <div class="row">
            <strong>Phone Number:</strong> {{location.formattedPhoneNumber}}
        </div>
        <div class="row">
            <strong>Business Email:</strong> {{location.businessEmail}}
        </div>
        
        {% if location.street %}
        <div class="row">
            <strong>Address:</strong>
            {{location.street}} {{location.city}}, {{location.state}} {{location.zip}}
        </div>
        {% endif %}
        
        <hr/>
        
        <div class="row">
            <strong>Current Deals:</strong>
            <button class="button-primary mark-updated-button">Mark As Up To Date</button>
        </div>
        {% for deal in deals %}
        <div class="row current-deal-row">
            <div class="four columns">
                {% for activeHour in deal.activeHours %}
                <div>
                    {% if activeHour.dayofweek == 1 %}
                        <span>Monday </span>
                    {% elif activeHour.dayofweek == 2 %}
                        <span>Tuesday </span>
                    {% elif activeHour.dayofweek == 3 %}
                        <span>Wednesday </span>
                    {% elif activeHour.dayofweek == 4 %}
                        <span>Thursday </span>
                    {% elif activeHour.dayofweek == 5 %}
                        <span>Friday </span>
                    {% elif activeHour.dayofweek == 6 %}
                        <span>Saturday </span>
                    {% elif activeHour.dayofweek == 7 %}
                        <span>Sunday </span> 
                    {% endif %}
                    <span>{{activeHour.start}} - </span>
                    <span>
                        {% if activeHour.end %}
                            {{activeHour.end}}
                        {% else %}
                            close 
                        {% endif %}
                    </span>
                </div>
                {% endfor %}
            </div>
            <div class="seven columns">
                {% for dealDetail in deal.dealDetails %}
                <div>
                    {% if dealDetail.drinkCategory == 1 %}
                        <span>Beer </span>
                    {% elif dealDetail.drinkCategory == 2 %}
                        <span>Wine </span>
                    {% else %}
                        <span>Liquor </span>
                    {% endif %}
                    
                    {% if dealDetail.detailType == 1 or dealDetail.detailType == 3 %}
                        <span>${{dealDetail.value|floatformat:2}}</span>
                    {% endif %}
                    
                    {% if dealDetail.detailType == 2 %}
                        <span>{{dealDetail.value|floatformat:0}}% off</span>
                    {% endif %}
                    
                    {% if dealDetail.detailType == 3 %}
                        <span> off</span>
                    {% endif %}
                    <span> {{dealDetail.drinkName}}</span>
                </div>
                {% endfor %}
            </div>
            <div class="one columns">
                <i class="remove-deal-icon fa fa-remove" data-deal-id="{{deal.id}}"></i>
            </div>
        </div>
        {% endfor %}
        
        <hr/>
            
        <div><strong>Add Deal:</strong></div>
        <div class="deal-section">
            <div class="row title-row">
                <div class="seven columns">
                    <h6>DAY(S) OF WEEK (Click and drag to select)</h6>
                </div>
                <div class="five columns">
                    <h6>TIME PERIOD</h6>
                </div>
            </div>
            <div class="row content-row">
                <div class="seven columns day-of-week-buttons">
                    <button class="monday-button">M</button>
                    <button class="tuesday-button">T</button>
                    <button class="wednesday-button">W</button>
                    <button class="thursday-button">Th</button>
                    <button class="friday-button">F</button>
                    <button class="saturday-button">S</button>
                    <button class="sunday-button">Su</button>
                </div>
                <div class="five columns time-periods">
                    <div class="first-time-period">
                        <input type="time" class="start-time" value="00:00"/>
                        <span> to </span>
                        <input type="time" class="end-time" value="00:00"/>
                        <input type="checkbox" class="until-close"/>
                        <span>Til Close</span>
                    </div>

                    <div>
                        <a class="add-time-period-link"> + Add another time period</a>
                    </div>

                    <div class="second-time-period hidden">
                        <i class="fa fa-minus-circle delete-time-period-link"></i>
                        <input type="time" class="start-time" value="00:00"/>
                        <span> to </span>
                        <input type="time" class="end-time" value="00:00"/>
                        <input type="checkbox" class="until-close"/>
                        <span>Til Close</span>
                    </div>
                </div>
            </div>
            <div class="row title-row">
                <div class="six columns">
                    <h6>DRINK NAMES</h6>
                </div>
                <div class="two columns">
                    <h6>CATEGORY</h6>
                </div>
                <div class="two columns">
                    <h6>DEAL TYPE</h6>
                </div>
                <div class="two columns">
                    <h6>DEAL VALUE</h6>
                </div>
            </div>
            <div class="deal-detail-section">
                <div><i class="fa fa-minus-circle delete-deal-detail-link"></i></div>
                <div class="row content-row">
                    <div class="six columns">
                        <input type="text" class="u-full-width drink-names" placeholder="Corona Light, Miller Lite"/>
                    </div>
                    <div class="two columns">
                        <select class="u-full-width drink-category">
                            <option value="beer">Beer</option>
                            <option value="wine">Wine</option>
                            <option value="liquor">Liquor</option>
                        </select>
                    </div>
                    <div class="two columns">
                        <select class="u-full-width deal-type">
                            <option value="price">Price</option>
                            <option value="percent-off">% Off</option>
                            <option value="price-off">$ Off</option>
                        </select>
                    </div>
                    <div class="two columns">
                        <span class="dollar-prefix">$</span>
                        <input type="text" class="deal-value"/>
                        <span class="percent-off-suffix hidden">% off</span>
                        <span class="price-off-suffix hidden"> off</span>
                    </div>
                </div>
            </div>
            <div>
                <a class="add-deal-detail-link"> + Add another deal detail</a>
            </div>
        </div>
        <div class="u-pull-right">
            <button class="button-primary submit-button">Add</button>
        </div>
    </div>

{% endblock content %}