<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title> VicePrice </title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
	<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<!-- JS -->
	<script src='https://code.jquery.com/jquery-2.2.1.min.js'></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
	<script src='../static/js/cluster.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<style>
			body {
				font-family: 'Montserrat';
				margin: 0;
				padding: 0;
			}
			.map {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
			}

			.pin {
			  width: 25px;
			  height: 25px;
			  border-radius: 50% 50% 50% 10%;
			  border:solid white 3.5px;
			  background: #89849b;
			  position: absolute;
			  transform: rotateY(30deg);
			  left: 50%;
			  top: 50%;
			  margin: -20px 0 0 -20px;
			  }
			  
		</style>
	</head>
	<body>
		<div class='grid'>
			<div id='map' class='map' style='position:fixed;'></div>

			<div class='left-side-bar'>
				<div class='search-div'>
					<p>SEARCH</p>
					<form method="get" action="/search" id="search">
						<input name="q" type="text" size="40" />
					</form>
				</div>
				<div class='hours-div'>
					<p>HOURS</p>
				      <output for="day" id="day_output">Sat</output>
					  	<div class="slider">
					  	<input type="range" id="day" value="1" step="1" min="1" max="7" oninput="outputUpdate(value)">
						</div>
					  <output for="time" id="time_output">8:00 AM</output>
					  <input type="range" id="time" value="8" step="1" min="8" max="38" oninput="outputUpdate(value)">
				</div>
				<div class='location-div'>
					<p> LOCATION:</p>
					<br/><br/>
				</div>
				 <div class='venues-div'>
                <p> VENUES: </p>  
            </div>
                <input type="checkbox" id="dive" checked>
                <label class="tiles" for="dive" style="margin-left:18%;"><i class="v-icon"></i>
                <span class="label">Dive Bar</span></label>

                <input type="checkbox" id="gay" checked>
                <label class="tiles" for="gay" style="margin-left:5%;"><i class="v-icon"></i>
                <span class="label">Gay Bar</span></label>

                <input type="checkbox" id="hotel" checked>
                <label class="tiles" for="hotel" style="margin-left:18%;"><i class="v-icon"></i>
                <span class="label">Hotel</span></label>

                <input type="checkbox" id="general" checked>
                <label class="tiles" for="general" style="margin-left:5%;"><i class="v-icon"></i>
                <span class="label">General</span></label>
                
                <input type="checkbox" id="fancy" checked>
                <label class="tiles" for="fancy" style="margin-left:18%;"><i class="v-icon"></i>
                <span class="label">Fancy</span></label>

                <input type="checkbox" id="sports" checked>
                <label class="tiles" for="sports" style="margin-left:5%;"><i class="v-icon"></i>
                <span class="label">Sports</span></label>
                
                <input type="checkbox" id="pub" checked>
                <label class="tiles" for="pub" style="margin-left:18%;"><i class="v-icon"></i>
                <span class="label">Pub</span></label>
                
                <input type="checkbox" id="nightclub" checked>
                <label class="tiles" for="nightclub"style="margin-left:5%;"><i class="v-icon"></i>
                <span class="label">Nightclub</span></label>
                
                <input type="checkbox" id="piano" value="Hi" checked>
                <label class="tiles" for="piano" style="margin-left:18%;"><i class="v-icon"></i>
                <span class="label">Piano</span></label>
                
                <input type="checkbox" id="hookah" checked>
                <label class="tiles" for="hookah" style="margin-left:5%;"><i class="v-icon"></i>
                <span class="label">Hookah</span></label>
				
				
			</div>

			<div class="about-contact-us">
					<a href="url">About</a>
					<a href="url">Contact Us</a>
					<a href="url">Owner?</a>
			</div>

			<div class='right-side-bar'>
				<img src="../static/img/sushi.jpg" width="300" height="170px"/>
				<div class="bar-info-div">
					<h1> Hanate Sushi Bar</h1>
					<h3> Facny Bar | </h3><h4>3:00 PM to 5:30 PM </h4>
				</div>
				<div class="specials-div">
					<h2> Happy Hour Specials </h2>
					<p>$5 Drink Specials</p>
					<ul>
						<li>Beer</li>
						<ul>
							<li>$2 off all drafts</li>
						</ul>
						<li>Wine</li>
						<ul>
							<li>$5 House Wines</li>
						</ul>
						<li>Cocktails &amp; Sprits</li>
						<ul>
							<li>$1 off all rails</li>
							<li>$2 off all cocktails</li>
							<li>$9 Boiler Maker</li>
							<li>$1 off all rails</li>
							<li>$2 off all cocktails</li>
							<li>$1 off all rails</li>
							<li>$2 off all cocktails</li>
						</ul>
					</ul>
				</div>
				<div class="reviews-div">
					<div style="overflow:hidden;">
						<h2> Reviews </h2>
						<img src="../static/img/facebook_icon.png" style="display:block;float:right;width:20%; height:20%; padding-bottom:5%"/>
					</div>
					<ul>
						<li><img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> it's like a Moroccan oasis in the middle of ....
						</li>
						<hr class="review-hr">
						<li>
							<img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> try getting a table by window ...
						</li>
						<hr class="review-hr">
						<li>
							<img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> seared scallops along ..
						</li>
						<hr class="review-hr">
						<li>
							<img src="../static/img/icon-profile.png" style="vertical-align:middle; padding-right:5%;"/> seared scallops along ..
						</li>
						<hr class="review-hr">
					</ul>
					<a href="url"> Read more ... </a>
				</div>
			</div>
		</div>
		<script src='../static/js/dcn.js'></script>
		<script>
			$(".tiles").hover(function() {
                    $(this).addClass('hoverBg');
                },function() {
                    $(this).removeClass('hoverBg');
                }); 

   			$("input:checkbox").click(function() {
                    var ischecked= $(this).is(':checked');
                    if(!ischecked)
                       $("label[for='"+$(this).attr('id')+"']").removeClass('hoverBg');
                }); 

   			function outputUpdate(num) {
    		if(num==1)
			document.querySelector('#day_output').value = "Sat";
			else if (num==2)
			document.querySelector('#day_output').value= "Sun";
			else if (num==3)
			document.querySelector('#day_output').value= "Mon";
			else if (num==4)
			document.querySelector('#day_output').value= "Tues";
			else if (num==5)
			document.querySelector('#day_output').value= "Wed";
			else if (num==6)
			document.querySelector('#day_output').value= "Thurs";
			else if(num==7)
			document.querySelector('#day_output').value= "Fri";
			else if (num==8)
			document.querySelector('#time_output').value= "8:00 AM";
			else if (num==9)
			document.querySelector('#time_output').value= "8:30 AM";
			else if (num==10)
			document.querySelector('#time_output').value= "9:00 AM";
			else if (num==11)
			document.querySelector('#time_output').value= "9:30 AM";
			else if (num==12)
			document.querySelector('#time_output').value= "10:00 AM";
			else if(num==13)
			document.querySelector('#time_output').value= "10:30 AM";
			else if(num==14)
			document.querySelector('#time_output').value= "11:00 AM";
			else if (num==15)
			document.querySelector('#time_output').value= "11:30 AM";
			else if (num==16)
			document.querySelector('#time_output').value= "12:00 PM";
			else if (num==17)
			document.querySelector('#time_output').value= "12:30 PM";
			else if (num==18)
			document.querySelector('#time_output').value= "1:00 PM";
			else if (num==19)
			document.querySelector('#time_output').value= "1:30 PM";
			else if(num==20)
			document.querySelector('#time_output').value= "2:00 PM";
			else if(num==21)
			document.querySelector('#time_output').value= "2:30 PM";
			else if (num==22)
			document.querySelector('#time_output').value= "3:00 PM";
			else if (num==23)
			document.querySelector('#time_output').value= "3:30 PM";
			else if (num==24)
			document.querySelector('#time_output').value= "4:00 PM";
			else if (num==25)
			document.querySelector('#time_output').value= "4:30 PM";
			else if (num==26)
			document.querySelector('#time_output').value= "5:00 PM";
			else if(num==27)
			document.querySelector('#time_output').value= "5:30 PM";
			else if (num==28)
			document.querySelector('#time_output').value= "6:00 PM";
			else if (num==29)
			document.querySelector('#time_output').value= "6:30 PM";
			else if(num==30)
			document.querySelector('#time_output').value= "7:00 PM";
			else if (num==31)
			document.querySelector('#time_output').value= "7:30 PM";
			else if(num==32)
			document.querySelector('#time_output').value= "8:00 PM";
			else if (num==33)
			document.querySelector('#time_output').value= "8:30 PM";
			else if (num==34)
			document.querySelector('#time_output').value= "9:00 PM";
			else if(num==35)
			document.querySelector('#time_output').value= "9:30 PM";
			else if(num==36)
			document.querySelector('#time_output').value= "10:00 PM";
			else if (num==37)
			document.querySelector('#time_output').value= "10:30 PM";
			else if (num==38)
			document.querySelector('#time_output').value= "11:00 PM";
		}
			/*****MapBox*****/
			L.mapbox.accessToken = 'pk.eyJ1Ijoic2FsbWFuYWVlIiwiYSI6ImNpa2ZsdXdweTAwMXl0d20yMWVlY3g4a24ifQ._0c3U-A8Lv6C7Sm3ceeiHw';

			var southWest = L.latLng(38.820993, -76.875833), northEast = L.latLng(39.004460, -77.158084), bounds = L.latLngBounds(southWest, northEast);

			var map = L.mapbox.map('map');

			L.mapbox.styleLayer('mapbox://styles/salmanaee/cikoa5qxo00gf9vm0s5cut4aa').addTo(map);

			map.setView([38.907557, -77.009014], 13);
			map.setMaxBounds(bounds);

			/*************************/
			var clusterGroup = new L.MarkerClusterGroup({polygonOptions: {
            fillColor: 'white',
            color: 'white',
            weight: 2,
            opacity: 1,
            fillOpacity: 0.3
	        }
	     	});//end of cluster

			$.get("../fetch/", function(data) {
					geoJsonData = data.json;
					var goeJsonlayer = L.geoJson(geoJsonData, {
						onEachFeature : function(feature, layer) {
							console.log(feature);
							layer.setIcon(L.divIcon(feature.properties.icon));
							var content = '<div class="tooltip"><h1>' + feature.properties.name + '<\/h1>' + '<p>' + feature.properties.phone + '<br \/>' + feature.properties.website + '<\/p> <\/div>';
							layer.bindPopup(content);
						}
					});
					//map.addLayer(goeJsonlayer);
 					//map.addLayer(clusterGroup);

				});		

				/***DC Neighborhoods***/

				var dcnLayer = L.geoJson(dcn,  {
      			style: getStyle,
      			onEachFeature: onEachFeature
  				}).addTo(map);

  				function getStyle(feature) {
      			return {
          		weight: 2,
          		opacity: 0.5,
          		color: 'rgb(35, 40, 43)',
          		fillOpacity: 0.80,
          		fillColor: getColor(feature.id),
      			};
  				}

  				function getColor(d) {
			    return d == 1 ? '#CC9592' :   //north dc
			          d == 2  ? '#BF74A5' :   //west dc
			          d == 3  ? '#DADFE3' :   //Friendship Heights
			          d == 4  ? '#DEBABF' :   //Adams Morgan
			          d == 5  ? '#917A7D' :   //East dc
			          d == 6  ? '#DADFE3' :   //shaw
			          d == 7  ? '#D6778E' :   //Capitol Hill
			          d == 8  ? '#DEBABF' :   //downtown
			          d == 9  ? '#D6778E' :   //Columbia Heights
			          d == 10 ? '#CC9592' :   //Dupont Circle
			          d == 11 ? '#DADFE3' :   //Foggy bottom
			          d == 12 ? '#DEBABF' :   //Georgetown
			          d == 13 ? '#BF74A5' :   //logan circle
			          d == 14 ? '#917A7D' :   //u street
			          d == 15 ? '#917A7D' :   //Waterfront
			          d == 16 ? '#DADFE3' :   //south east
			          '#BF74A5';              //h street
  				}
  
  				function onEachFeature(feature, layer) {
      			layer.on({
              		mousemove: mousemove,
              		mouseout: mouseout,
            		click: zoomToFeature
            		});
            	var label = L.marker(layer.getBounds().getCenter(), {
            	icon: L.divIcon({
            		className: 'label',
    html: "<div class='map_labels'>" + feature.properties.name+"</div>",
            		iconSize: [54, 35]
             		})
          			}).addTo(map);
          		};


				function zoomToFeature(e) {
				map.fitBounds(e.target.getBounds());
				}	

				function mousemove(e) {
			    var layer = e.target;
					layer.setStyle({
				          weight: 3,
				          opacity: 0.5,
				          fillOpacity: 0.9
				    });
				  if (!L.Browser.ie && !L.Browser.opera) {
          			layer.bringToFront();
      				}
  				}

  				function mouseout(e) {
			      dcnLayer.resetStyle(e.target);
  				}
				
		</script>
	</body>
</html>