{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Login:</h1>
    <form>
        {% csrf_token %}
        <div class="row">
            <label for="usernameInput">Username:</label>
            <input class="u-full-width" type="text" id="usernameInput">
        </div>
        <div class="row">
            <label for="passwordInput">Password:</label>
            <input class="u-full-width" type="password" id="passwordInput">
        </div>
        <input class="button-primary" type="submit" value="Submit">
    </form>
    <div>
        Register
    </div>

{% endblock %}