{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
   <title>VicePrice&trade; - Discover Happy Hours in Washington DC</title>
	<meta name="description" content="The most complete coverage of Washington DC's happy hours." />
	<meta name="abstract" content="Washington DC Happy Hours listings" />
	<meta name="keywords" content=" DC Happy Hours, Happy Hours Washington DC, Washington DC, bars, drinks, happy hours, Washington, DC, Happy, Hours, Happy Hour, Happy Hours in Washington DC, Happy Hours in DC, Restaurants, happy hours near me, happy hours near Washington DC, drink specials near me, drink specials, drink deals" />
	<meta name="apple-mobile-web-app-title" content="DC Happy Hours">
	<meta property="og:title" content="viceprice.co/" />
	<meta property="og:description" content=" Discover Happy Hours in Washington DC" />
	<meta property="og:url" content="viceprice.co/" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Language" content="English" />
	<meta name="classification" content="Washington DC Happy Hours" />
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />
	<link href='//api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/simplesubscriptionpopup.css' %}" >
	<!-- JS -->
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
	<script src='//code.jquery.com/jquery-2.2.1.min.js'></script>
	<script src='//api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
	<script src='{% static "js/cluster.js" %}'></script>
	<script src='{% static "js/filters.js" %}'></script>
	<script src='{% static "js/venue_details.js" %}'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"3cb9f52abfa0cae5e336b9f2c","lid":"8162f4b0a6"}) })</script>-->
    
<!--    Icon on tab-->
    <LINK
       HREF="/favicon.ico">
    
	</head>
	<body>
		<div class='grid'>
			<div id='map' class='map' style='position:fixed;'></div>

			{% include '_filters.html' %}

			{% include '_venue_details.html' %}

		</div>
		<script src='../static/js/dcn.js'></script>
		<script src='../static/js/dc-metro.js'></script>
		<script src='{% static "js/mapbox.js" %}'></script>
		<script src='{% static "js/filters.js" %}'></script>
	</body>
</html>
