{% extends "base.html" %}
{% load staticfiles %}

{% block resources %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapview.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9dKIAjtgG63VtfarGXmjCT6cTruOF6c&libraries=places"></script>
    <script type="text/javascript" src="{% static 'mapview.js' %}"></script>
{% endblock %}

{% block content %}
    <input id="search-input" class="controls" type="text" placeholder="Search">
    <div id="map-canvas"></div>
{% endblock %}