<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="description" content="The most complete coverage of Washington DC's happy hours." />
<meta name="abstract" content="Washington DC Happy Hours listings" />
<meta name="keywords" content=" DC Happy Hours, Happy Hours Washington DC, Washington DC, bars, drinks, happy hours, Washington, DC, Happy, Hours, Happy Hour, Happy Hours in Washington DC, Happy Hours in DC, Restaurants, happy hours near me, happy hours near Washington DC, drink specials near me, drink specials, drink deals" />
<meta name="apple-mobile-web-app-title" content="DC Happy Hours">
<meta property="og:title" content="viceprice.co/" />
<meta property="og:description" content=" Discover Happy Hours in Washington DC" />
<meta property="og:url" content="viceprice.co/" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Language" content="English" />
<meta name="classification" content="Washington DC Happy Hours" />
<title> VicePrice </title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="../static/css/component.css" />
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- JS -->
  <script src='https://code.jquery.com/jquery-2.2.1.min.js'></script>
  <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <script src='../static/js/cluster.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
      body {
        font-family: 'Montserrat';
        margin: 0;
        padding: 0;
      }
      .map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
      .pin {
        width: 25px;
        height: 25px;
        border-radius: 50% 50% 50% 10%;
        border:solid white 3.5px;
        background: #89849b;
        position: absolute;
        transform: rotateY(30deg);
        left: 50%;
        top: 50%;
        margin: -20px 0 0 -20px;
        }
    </style>
</head>
<body>
<div id='map' class='map' style='position:fixed;'></div>
<script src='../static/js/dcn.js'></script>
<script>
/*****MapBox*****/
  L.mapbox.accessToken = 'pk.eyJ1Ijoic2FsbWFuYWVlIiwiYSI6ImNpa2ZsdXdweTAwMXl0d20yMWVlY3g4a24ifQ._0c3U-A8Lv6C7Sm3ceeiHw';
  var southWest = L.latLng(38.820993, -76.875833), 
      northEast = L.latLng(39.004460, -77.158084), 
      bounds = L.latLngBounds(southWest, northEast);
  
  var map = L.map('map',{
    center: [38.907557, -77.028130],
    minZoom: 13,
    zoom: 13,
    zoomControl: false
    });
map.fitBounds(L.latLngBounds([38.927309, -77.109718], [38.985176, -77.003803 ]));
  L.mapbox.styleLayer('mapbox://styles/salmanaee/cikoa5qxo00gf9vm0s5cut4aa').addTo(map);
  map.setMaxBounds(bounds);
  
  
  /*************************/
  var clusterGroup = new L.MarkerClusterGroup({polygonOptions: {
            fillColor: 'white',
            color: 'white',
            weight: 2,
            opacity: 1,
            fillOpacity: 0.3
          }
        });//end of cluster
          
  var myLayer = L.mapbox.featureLayer().addTo(map);

  myLayer.on('layeradd', function(e) {
    var marker = e.layer,
        feature = marker.feature;

    // Create custom popup content
    var popupContent =  '<div class="tooltip"><h1>' + feature.properties.name + '<\/h1>' + '<p>' + feature.properties.phone + '<br \/>' + feature.properties.website + '<\/p> <\/div>';

    marker.bindPopup(popupContent,{
        closeButton: false,
        minWidth: 320
    });
});


  $.get("../fetch/", function(data) {
          geoJsonData = data.json;
        });   

    /***DC Neighborhoods***/
        var dcnLayer = L.geoJson(dcn,  {
            style: getStyle,
            onEachFeature: onEachFeature
          }).addTo(map);

        var lastLayer,lastLabel;

          function getStyle(feature) {
            return {
              weight: 2,
              opacity: 0.5,
              color: '#c8a45e',
              fillOpacity: 0.85,
              fillColor: 'rgb(35, 40, 43)',
            };
          }
  
          function onEachFeature(feature, layer) {
            var label = L.marker(labelLocation(layer,feature),{
              icon: L.divIcon({
                className: 'label',
                html: getHTML(feature.id,feature.properties.name),
                iconSize: [100, 35]
                })}).addTo(map);

            layer.on({
                  mousemove: mousemove,
                  mouseout: mouseout,
                  click: click
                });

            label.on('mouseover',function(e){
              document.getElementById(layer.feature.id).style.color="rgb(35, 40, 43)";
              layer.setStyle({
                  weight: 3,
                  opacity: 0.5,
                  fillColor:'#c8a45e',
                  fillOpacity: 0.85,
              });});
              
            label.on('mouseout',function(e){
                layer.fireEvent("mouseout");
            });


            label.on('click',function(e){
                layer.fireEvent("click");
              // map.removeLayer(e.target);
            });

              };
             
        function click(e) {
           var css,id,neighborhood;
           css=document.getElementsByClassName("label");
           
        if(lastLayer === undefined){}//do nothign
        else
            {   
                dcnLayer.resetStyle(lastLayer);
                lastLayer.on({mousemove:mousemove, mouseout:mouseout});
                document.getElementById(lastLayer.feature.id).style.color="#c8a45e";
                id=parseInt(lastLayer.feature.id)-1;
                css[id].style.display="block";
            }    

        e.target.off({mousemove:false, mouseout:false});
        e.target.setStyle({fillOpacity: 0});
        id=parseInt(e.target.feature.id)-1;
        css[id].style.display="none";
        lastLayer=e.target;
        neighborhood=e.target.feature.properties.name;
        
        
        myLayer.setGeoJSON(geoJsonData);
        myLayer.setFilter(function(f) {
            return f.properties["neighborhood"] === neighborhood;
        });
        return false;
        } 

        function mousemove(e) {
          var layer = e.target;
          document.getElementById(layer.feature.id).style.color="rgb(35, 40, 43)";

          layer.setStyle({
                  weight: 3,
                  opacity: 0.5,
                  fillColor:'#c8a45e',
                  fillOpacity: 0.85,
            });

          if (!L.Browser.ie && !L.Browser.opera) {
                layer.bringToFront();
              }
          }

          function mouseout(e) {
            dcnLayer.resetStyle(e.target);
            document.getElementById(e.target.feature.id).style.color="#c8a45e";
          }

          function labelLocation (l,f){
           return f.id == 13 ? L.latLng(38.909684,-77.031951): 
                  f.id == 15 ? L.latLng(38.872020, -77.012171): 
                  f.id == 16 ? L.latLng(38.858346, -76.996716):
                  l.getBounds().getCenter();
          }
        
    function getHTML(e,d) {
    return e == 1 ? "<div class='map_labels' style='font-size:18px;margin-top:30%; '>" + d +"<div class='bar_num_labels' id='01'>( 16 ) <div/></div>" : //north DC
           e == 2  ?"<div class='map_labels' style='font-size:18px;margin-left:30%;'>" + d +"<div class='bar_num_labels' id='02'>( 5 ) <div/></div>" :  //west dc
           e == 3  ? "<div class='map_labels' style='font-size:16px;'>" + d +"<div class='bar_num_labels' id='03'>( 33 ) <div/></div>" :  //Friendship Heights
            e == 4  ? "<div class='map_labels' style='font-size:14px;'>" + d +"<div class='bar_num_labels' id='04'>( 44 ) <div/></div>" :  //Adams Morgan
            e == 5  ?"<div class='map_labels' style='font-size:18px;margin-right:30%;'>" + d +"<div class='bar_num_labels' id='05'>( 24 ) <div/></div>" :  //East dc
            e == 6  ? "<div class='map_labels' style='font-size:16px;'>" + d +"<div class='bar_num_labels' id='06'>( 18 )<div/></div>" :  //shaw
            e == 7  ? "<div class='map_labels' style='font-size:16px;'>" + d +"<div class='bar_num_labels' id='07'>( 38 )<div/></div>" :  //Capitol Hill
            e == 8 ? "<div class='map_labels' style='font-size:16px;margin-top:15%;'>" + d +"<div class='bar_num_labels' id='08'>( 115 )<div/></div>" :  //downtown
            e == 9 ? "<div class='map_labels' style='font-size:14px;'>" + d +"<div class='bar_num_labels' id='09'>( 20 )<div/></div>" :  //Columbia Heights
            e == 10 ? "<div class='map_labels' style='font-size:14px;width:50px;margin-left:30%;margin-top:10%;'>" + d +"<div class='bar_num_labels' id='10'>( 76 )<div/></div>" :  //Dupont Circle
            e == 11 ? "<div class='map_labels' style='font-size:16px;'>" + d +"<div class='bar_num_labels' id='11'>( 40 )<div/></div>" :  //foggy bottom
            e == 12 ? "<div class='map_labels' style='font-size:16px;'>" + d +"<div class='bar_num_labels' id='12'>( 28 )<div/></div>" :  //georgetown
            e == 13 ? "<div class='map_labels' style='font-size:12px;width:50px;margin-top:0;margin-left:30%;'>" + d +"<div class='bar_num_labels' id='13'>( 21 )<div/></div>" :  //Logan Circle
            e == 14 ? "<div class='map_labels' style='font-size:14px;margin-top:10%;'>" + d +"<div class='bar_num_labels' id='14'>( 40 )<div/></div>" :  //u street
            e == 15 ? "<div class='map_labels' style='font-size:14px;margin-rigth:50%;'>" + d +"<div class='bar_num_labels' id='15'>( 10 )<div/></div>" : //Waterfront
            e == 16 ? "<div class='map_labels' style='font-size:18px;text-align:left;'>" + d +"<div class='bar_num_labels' id='16'>( 2 )<div/></div>" : //South east
                    "<div class='map_labels' style='font-size:13px;margin-top:2%;'>" + d +"<div class='bar_num_labels' id='17'>( 27 )<div/></div>"; //h street 
            }
</script>
</body>
</html>