/****************/
html, body, span, h1, h2, h3, h4, h5, h6, em, img, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  vertical-align:baseline;
  }

/* Leftside bar*/
.left-side-bar  { position:fixed;float:left; width:16.6666%;  background-color:rgb(35, 40, 43); top:0; bottom:0; left:0;}

.search-div, .hours-div{
  display:block;
  padding-left:10%;
  position:relative;
}

.search-div {
  padding-top: 15%;
}

#search input[type="text"] {
    background-color:transparent;
    border: 0 none;
    font-size:50%;
    color:#7d7f80;
    font-family: Montserrat, Arial, sans-serif;
    width: 70%;
    padding: 5% 5%;
}

 .left-side-bar p{
  width:90%;
  font-size:70%;
  color:#7d7f80;
  margin-bottom: 5%;
  font-family:"Montserrat", Arial, sans-serif;
  border-bottom: 1px solid #7d7f80;
  }

.about-contact-us{float:left;left:0; bottom:0; position: fixed;margin-bottom:1%; width: 100%;}

a {font-size:60%; font-family: Arial, sans-serif;padding-left:1%;}
a:link, a:visited    {color:#7d7f80; background-color:transparent;text-decoration: none;}
a:hover {color:#eaeaea; background-color:transparent; text-decoration: none;}

.zooming-bar { position: fixed; float:right; width: 22px; height:85px; background-color: #c8a45e;top:0; margin-left:16.6666%;}
.zooming-bar li{ list-style-type: none;text-align: center;}
.zooming-bar img{width:20px;height:20px;margin-top:15%;cursor: pointer;}
/* Rightside bar*/
.right-side-bar {position:absolute; float:left; width:25.0000%; max-width:300px; background-color:#fbfbfb;opacity:0.95; top:0; right:0;  }

.specials-div, .location-details-div, .reviews-div {
  display:block;
  width:90%;
  margin-left: 1rem;
  padding-top: 0.5rem;
  border-bottom:1px solid #cacaca;
  position: relative;
}

.location-details-div {
  padding-bottom: 0.5rem;
}

.right-side-bar h1{
  font-size:120%;
  color:#5b5b5b;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 2%;
}

.right-side-bar #location-name {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #c8a45e;
  margin: 1rem 1rem 0 1rem;
}

.right-side-bar #specials-time-frame {
  color: #c8a45e;
  margin-top: 0;
}

.right-side-bar h2{
  width: 70%;
  padding-bottom: 2%;
  font-size:100%;
  color:#7d7f80;
  font-family: Montserrat, Arial, sans-serif;
  border-bottom: 1px solid #c8a45e;
}

.right-side-bar h3{
  font-size:70%;
  color:#aeaeae;
  display: inline;
  font-family: Montserrat, Arial, sans-serif;
}

.right-side-bar h4{
  font-size:70%;
  color:#5b5b5b;
  display: inline;
  font-family: Montserrat, Arial, sans-serif;
}

.right-side-bar p{
  font-size: 0.75rem;
  color:#7d7f80;
  font-family: Montserrat, Arial, sans-serif;
  }

.specials-div ul {
  font-size: 0.75rem;
  color:#c8a45e;
  font-family: Montserrat, Arial, sans-serif;
  margin-left: 1rem;
 }

.specials-div li {
  color:#c8a45e;
  font-family: Montserrat, Arial, sans-serif;
  padding-bottom: 2%;
}

.specials-div li:first-line {
  color:#7d7f80;
}

.location-details-div i {
  font-size: 1rem;
  color: #c8a45e;
}

.reviews-div li{
  list-style-type: none;
  font-size:65%;
  color:#7d7f80;
  font-family: Montserrat,Arial, sans-serif;
}

.review-hr {
    display: block;
    border: 0;
    margin-left: 15%;
    margin-bottom: 5%;
    border-top: 1px solid #c8a45e;
    width:60%;
    opacity: 0.50;
}

/**CLUSTERS COLORS**/
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large{
  /*background-color: rgba(181, 226, 140, 0.6);*/
  background-color:rgba(222, 204, 161,0.6);

  }

.marker-cluster-small div,
.marker-cluster-medium div ,
.marker-cluster-large div  {
  /*background-color: rgba(110, 204, 57, 0.6);*/
  background-color:rgba(200, 164, 57,0.6);
  }

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small, .leaflet-oldie .marker-cluster-medium, .leaflet-oldie .marker-cluster-large  {
  background-color: rgb(181, 226, 140);
  }

.leaflet-oldie .marker-cluster-small div, .leaflet-oldie .marker-cluster-medium div, .leaflet-oldie .marker-cluster-large div {
  background-color: rgb(110, 204, 57);
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 14px "Montserrat", Arial, Helvetica, sans-serif;
  }

.marker-cluster span {
  line-height: 30px;
  }

  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

  /****tooltip css****/
  .tooltip{
    width:290px;
    height:60px;
  }

  .tooltip h1{
    font-family: Montserrat;
    font-size:10%;
    color:#5b5b5b;
    font-weight:bold;
  }

  .tooltip p{
    font-family: Montserrat;
    color:#7d7f80;
    font-size:5%;
  }

  /*** Slider ***/
        * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }

      input[type="range"] {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        padding: 1px 2px;
        border-radius: 14px;
        background: #232528;
        box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
        -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
        outline: none; /* no focus outline */
      }

      input[type="range"]::-moz-range-track {
        border: inherit;
        background: transparent;
      }

      input[type="range"]::-ms-track {
        border: inherit;
        color: transparent; /* don't drawn vertical reference line */
        background: transparent;
      }

      input[type="range"]::-ms-fill-lower,
      input[type="range"]::-ms-fill-upper {
        background: transparent;
      }

      input[type="range"]::-ms-tooltip {
        display: none;
      }

      /* thumb */

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 18px;
        border: none;
        border-radius: 12px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8a45e), color-stop(100%, #decca1)); /* android <= 2.2 */
        background-image: -webkit-linear-gradient(top , #c8a45e 0, #c8a45e 100%); /* older mobile safari and android > 2.2 */;
        background-image: linear-gradient(to bottom, #c8a45e 0, #c8a45e 100%); /* W3C */
      }
      input[type="range"]::-moz-range-thumb {
        width: 40px;
        border: none;
        border-radius: 12px;
        background-image: linear-gradient(to bottom, #c8a45e 0, #c8a45e 100%); /* W3C */
      }

      input[type="range"]::-ms-thumb {
        width: 40px;
        height: 18px;
        border-radius: 12px;
        border: 0;
        background-image: linear-gradient(to bottom, #c8a45e 0, #c8a45e 100%); /* W3C */
      }

      #day_output,#time_output {
        display: block;
        font-size:70%;
        color:#aeaeae;
        display: inline;
        font-family: Montserrat, Arial, sans-serif;
        margin-bottom: 5%;
      }

      #day_output{margin-left: 40%;}
      #time_output{margin-left: 34%;}
      #day,#time{margin-top: 8%; margin-bottom: 8%;width: 88%;}

  .map_labels{
  color:white;
  font-family: Montserrat;
  text-align:center;
  }

  .bar_num_labels{
  color:#c8a45e;
  font-size:11px;
  font-family: Montserrat;
  text-align:center;
  }




