/**METRO UI**/
.tiles {
  display: block;
    background: rgb(35, 40, 43);
    width:30%;
    height: 7%;
    float: left;
    margin-bottom: 6%;
    cursor: pointer;
   position: relative;
   border: solid 2px transparent;
}

input[type="checkbox"] {
    display: none;
}

.v-icon{
 display: inline-block;
  content:url("../img/v-icon.ico");
    height:55%;
    width:55%;
    margin-left:15%;
    margin-bottom: 6%;
    margin-top: 2%;
}

.label{
  color: #fbfbfb;
  font: 65% "Montserrat";
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**HOVER**/
.hoverBg{
  background-color:#c8a45e;
}

/*.hoverIcon .v-icon{
    height:55%;
    width:55%;
    transition: .15s linear .15s;
    opacity: 1;
    margin-left:15%;
    margin-bottom: 6%;
    margin-top: 2%;
}

.hoverLabel .label{
  transition: .3s linear .3s;
    opacity: 1;
}*/

/**checked**/
input[type="checkbox"]:checked + .tiles {
  background-color:#c8a45e;
}

input[type="checkbox"]:checked + .tiles .v-icon{
  height:55%;
  width:55%;
  margin-left:15%;
  margin-bottom: 6%;
  margin-top: 2%;
}

input[type="checkbox"]:checked + .tiles .label{
  opacity:1;
}

/****************/
html, body, span, h1, h2, h3, h4, h5, h6, em, img, ol, ul, li {
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  vertical-align:baseline;
  }

/* Leftside bar*/
.left-side-bar  { position:fixed;float:left; width:16.6666%; max-width:200px; background-color:rgb(35, 40, 43); top:0; bottom:0; left:0;} 

.search-div, .venues-div, .location-div, .hours-div{
  display:block;
  padding-left:10%;
  padding-top:15%;
  position:relative;
}
#search input[type="text"] {
    background-color:transparent;
    border: 0 none;
    font-size:50%;
    color:#7d7f80;
    font-family: Montserrat, Arial, sans-serif;
    width: 70%;
    padding: 5% 5%;
}

 .left-side-bar p{
  width:80%;
  font-size:70%;
  color:#7d7f80;
  margin-bottom: 5%;
  font-family:"Montserrat", Arial, sans-serif;
  border-bottom: 1px solid #7d7f80;
  }

.about-contact-us{float:left;left:0; width:200px; bottom:0; position: relative;margin-top: 30%;}

a {font-size:65%; font-family: Arial, sans-serif;padding-left:10%;}
a:link, a:visited    {color:#7d7f80; background-color:transparent;text-decoration: none;}
a:hover {color:#eaeaea; background-color:transparent; text-decoration: none;}

/* Rightside bar*/
.right-side-bar {position:absolute; float:left; width:25.0000%; max-width:300px; background-color:#fbfbfb;opacity:0.95; top:0; right:0;  }

.bar-info-div, .specials-div, .reviews-div{
  display:block;
  width:90%;
  margin-left: 5%;
  padding-top:5%;
  padding-bottom:5%;
  border-bottom:1px solid #cacaca;
  position: relative;
}

.right-side-bar h1{
  font-size:120%;
  color:#5b5b5b;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 2%;
}

.right-side-bar h2{
  width: 70%;
  padding-bottom: 2%;
  font-size:100%;
  color:#7d7f80;
  font-family: Montserrat, Arial, sans-serif;
  border-bottom: 1px solid #c8a45e;
}

.right-side-bar h3{
  font-size:70%;
  color:#aeaeae;
  display: inline;
  font-family: Montserrat, Arial, sans-serif;
}

.right-side-bar h4{
  font-size:70%;
  color:#5b5b5b;
  display: inline;
  font-family: Montserrat, Arial, sans-serif;
}

.right-side-bar p{
  font-size:80%;
  color:#7d7f80;
  font-family: Montserrat, Arial, sans-serif;
  }

.specials-div ul{
  font-size:80%;
  color:#c8a45e;
  font-family: Montserrat, Arial, sans-serif;
  padding-left:5%;
  padding-bottom: 5%;
  } 

  .specials-div li{
  color:#c8a45e;
  font-family: Montserrat, Arial, sans-serif;
  padding-bottom: 2%;
  }  

  .specials-div li:first-line{
    color:#7d7f80;
  }

.reviews-div li{
  list-style-type: none;
  font-size:65%;
  color:#7d7f80;
  font-family: Montserrat,Arial, sans-serif;
}

.review-hr {
    display: block;
    border: 0;
    margin-left: 15%;
    margin-bottom: 5%;
    border-top: 1px solid #c8a45e;
    width:60%;
    opacity: 0.50;
}

/**CLUSTERS COLORS**/
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large{
  /*background-color: rgba(181, 226, 140, 0.6);*/
  background-color:rgba(222, 204, 161,0.6);
  
  }

.marker-cluster-small div, 
.marker-cluster-medium div , 
.marker-cluster-large div  {
  /*background-color: rgba(110, 204, 57, 0.6);*/
  background-color:rgba(200, 164, 57,0.6);
  }

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small, .leaflet-oldie .marker-cluster-medium, .leaflet-oldie .marker-cluster-large  {
  background-color: rgb(181, 226, 140);
  }

.leaflet-oldie .marker-cluster-small div, .leaflet-oldie .marker-cluster-medium div, .leaflet-oldie .marker-cluster-large div {
  background-color: rgb(110, 204, 57);
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 14px "Montserrat", Arial, Helvetica, sans-serif;
  }

.marker-cluster span {
  line-height: 30px;
  }

  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  } 

  /****tooltip css****/
  .tooltip{
    width:290px;
    height:60px;
  }

  .tooltip h1{
    font-family: Montserrat; 
    font-size:10%;
    color:#5b5b5b;
    font-weight:bold;
  }

  .tooltip p{
    font-family: Montserrat; 
    color:#7d7f80;
    font-size:5%;
  }