.confirm-drink-name-container {
    margin-top: 5rem;
}

.drink-name-label {
    cursor: pointer;
}

input[type=radio] {
    margin-right: 1.5rem;
}

input[type=text] {
    width: 50%;
}

#reject-button {
    background-color: red;
    color: white;
}

.delete-deal-detail {
    color: red;
    margin-left: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}