.hidden {
    display: none;
    width: 0;
    height: 0;
}

.happy-hour-entry-container {
    margin-top: 3rem;
}

.happy-hour-entry-container h6 {
    margin-bottom: 0;
}

.happy-hour-entry-container a {
    cursor: pointer;
}

.progress-bar-incomplete {
    width: 100%;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-complete {
    width: 50%;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
}

.number-complete {
    height: 50px;
    padding-top: 15px;
}

.title-row {
    margin-bottom: 8px;
}

.content-row {
    margin-bottom: 16px;
}

.deal-value {
    width: 60%;
}

.phone-checkbox-container {
    margin-right: 26rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: right;
}

#require-phone {
    margin-top: 0.5rem;
    margin-right: 1rem;
}