/****************/
html, body, span, h1, h2, h3, h4, h5, h6, em, img, ol, ul, li {
  font-family:"Montserrat", Arial, sans-serif !important;
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  vertical-align:baseline;
}

/* Leftside bar*/
.left-side-bar  { 
    position:fixed;
    float:left; 
    width:16.6666%; 
    height: 100%; 
    background-color:rgb(35, 40, 43); 
    top:0; 
    bottom:0; 
    left:0;
}

.search-div, .hours-div,.legend-div{
  display:block;
  padding-left:10%;
  position:relative;
  font-size:.9rem;
  margin-bottom: 5%;
}

.legends-div{
  display:block;
  padding-left:10%;
  position:relative;
  color:#c8a45e;
  font-size:.9rem;
  margin-bottom: 5%;
}

.about-div{
  display:block;
  position:relative;
  color:#c8a45e;
  padding-left:10%;
  font-size:.9rem;
  margin-bottom: 5%;
}

.abouttext-div{
  display:block;
  position:relative;
  color:#c8a45e;
  padding-right:10%;
}
.legend-images {
    text-align: center
}

.logo {
  text-align: center;
  padding-top: 10%;
  font-size:100%;
  color:#ecf2f5;
  margin-bottom: 5%;
  font-size: 1rem;
  font-family:"Montserrat", Arial, sans-serif;
}
 .vp {
  font-size:300%;
  color:#c8a45e;
  padding-bottom: 5%;
  text-align: center;
  font-size:3rem;
 }

 .beta{
  text-align: center;
  font-size:100%;
  color:#c8a45e;
  font-size: .8rem;
 }
 

#search input[type="text"] {
    background-color:transparent;
    border: 0 none;
    font-size:50%;
    color:#7d7f80;
    width: 70%;
    padding: 5% 5%;
}

.legend-img{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: .1rem .1rem .1rem .1rem;
}

.legend-img-metro{
  vertical-align: bottom;
  display: inline-block;
  text-align: center;
  margin: .1rem .1rem .1rem .1rem;
}


.caption {
  display: block;
  font-size:90%;
  color:#ecf2f5;
}

 .left-side-bar p{
  width:90%;
  font-size:100%;
  color:#e8ecef;
  margin-bottom: 5%;
  border-bottom: 1px solid #7d7f80;
 }

.about-contact-us {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
}

.contact-us {
    position: fixed; 
    bottom: 0px;
    margin-left: 5%;
}

.attribution{text-align: right;display: inline-block;margin-left: 1rem}

.attribution a {padding-left:0;}

a {font-size:70%; padding-left:0.5rem;}
a:link, a:visited    {color:#ecf2f5; background-color:transparent;text-decoration: none;}
a:hover {color:#eaeaea; background-color:transparent; text-decoration: none;}

.zooming-bar { padding: 0.1rem 0; position: fixed; bottom: 2.5rem; left:16.6666%; background-color: #c8a45e; width: 22px; }
.zooming-bar li{ list-style-type: none;text-align: center;}
.zooming-bar img{width:20px;height:20px;margin-top:15%;cursor: pointer;}

#overview-zoom {
    position: fixed;
    left: 16.66%;
    bottom: 0.5rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    background-color: #c8a45e;
    cursor: pointer;
}

/* Rightside bar*/
.right-side-bar {display:none;position:absolute; float:left; width:25.0000%; background-color:#fbfbfb;opacity:0.98; top:0; right:0;  }
.right-side-bar { height: 100%; overflow: scroll; }
.sliding { position: fixed; float:right; width: 17px;background-color: #c8a45e;top:0; bottom:0;right:0;cursor: pointer;}

.deals-div, .location-details-div, .reviews-div {
  display:block;
  width:90%;
  margin-left: 1rem;
  position: relative;
}

.reviews-div {
    cursor: pointer;
}

.reviews-div:hover {
    background-color: #f2e7d5;
}

.deals-div, .location-details-div {
  border-bottom:1px solid #cacaca;
}

.location-details-div {
  padding: .3rem 0;
}

.right-side-bar h1{
  font-size:120%;
  font-weight: bold;
}

.right-side-bar #location-name {
  margin: 0 0 0 1rem;
}

.right-side-bar #venue-category {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #c8a45e;
  margin: 0 1rem 0 1rem;
}

.right-side-bar #deal-time-frame {
  color: #c8a45e;
  margin-top: 0;
}

.right-side-bar h2{
  display: inline-block;
  vertical-align: top;
  width: 70%;
  color: #5b5b5b;
  margin-top: 0;
  margin-bottom: 0.2rem;
  height: 1rem;
  font-size: 0.8rem;
}

.right-side-bar h3{
  font-size:70%;
  color:#aeaeae;
  display: inline;
}

.right-side-bar h4{
  font-size:70%;
  color:#5b5b5b;
  display: inline;
}

.right-side-bar p{
  font-size: 0.75rem;
  color:#7d7f80;
  }

.right-side-bar .category {
    color: #5b5b5b;
    display: inline-block;
}

#deal-details-div table {
    margin-top: 1rem;
}

.drink-category-column {
    vertical-align: top;
    width: 30px;
}

.drink-category-column img {
    width: 30px;
    padding-bottom: 0.5rem;
}

.deal-detail-column {
    vertical-align: top;
    color: #7d7f80;
    font-size: 0.75rem;
}

.deal-detail-column li {
    padding-bottom: 0.3rem;
}

.location-details-div i {
  font-size: 1rem;
  color: #c8a45e;
}

.location-detail {
  height: 1.4rem;
  overflow: hidden;
  padding: 0.3rem 0;
}

#location-address, #location-phone-number, #location-website {
  font-size: 0.75rem;
  color: #7d7f80;
  position: relative;
  bottom: 0.1rem;
  left: 0.3rem;
  padding-left: 0;
}

#location-website {
  font-size: 0.75rem;
  color: #7d7f80;
  position: relative;
  bottom: 0.1rem;
  left: 0.3rem;
  padding-left: 0;
  text-decoration: underline
}

#location-address {
  text-decoration: underline;
  cursor: pointer;
}


a#location-website {
color: #7d7f80;
cursor: pointer;
}

#drink_type{
  color: #7d7f80;
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: top;
}

.review-summary-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#review_count {
    font-size: 0.75rem;
    color: #7d7f80;
}

#profile_img{
  display: inline-block;
  float: left;
  vertical-align: top;
  width:50px;
  height: 50px;
  margin: 0 1rem 0 0;
}

#name {
  margin-top: 1rem;
  margin-bottom: 0;
  color: #c8a45e;
}

#more-reviews {
    color: #c8a45e;
    text-align: right;
    width: 100%;
}


/**CLUSTERS COLORS**/
.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large{
  /*background-color: rgba(181, 226, 140, 0.6);*/
  background-color:rgba(222, 204, 161,0.6);

  }

.marker-cluster-small div,
.marker-cluster-medium div ,
.marker-cluster-large div  {
  /*background-color: rgba(110, 204, 57, 0.6);*/
  background-color:rgba(200, 164, 57,0.6);
  }

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small, .leaflet-oldie .marker-cluster-medium, .leaflet-oldie .marker-cluster-large  {
  background-color: rgb(181, 226, 140);
  }

.leaflet-oldie .marker-cluster-small div, .leaflet-oldie .marker-cluster-medium div, .leaflet-oldie .marker-cluster-large div {
  background-color: rgb(110, 204, 57);
  }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  z-index: 10000
  }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 14px "Montserrat", Arial, Helvetica, sans-serif;
  z-index: 10000
  }

.marker-cluster span {
  line-height: 30px;
  }

  .leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

  /*** Slider ***/
        * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        }

      input[type="range"] {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        padding: 1px 2px;
        border-radius: 14px;
        background: #232528;
        box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
        -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
        outline: none; /* no focus outline */
      }

      input[type="range"]:disabled {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: red;
        padding: 1px 2px;
        border-radius: 14px;
        background: #232528;
        box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
        -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
        outline: none; /* no focus outline */
      }

      input[type="range"]::-moz-range-track {
        border: inherit;
        background: transparent;
      }

      input[type="range"]::-ms-track {
        border: inherit;
        color: transparent; /* don't drawn vertical reference line */
        background: transparent;
      }

      input[type="range"]::-ms-fill-lower,
      input[type="range"]::-ms-fill-upper {
        background: transparent;
      }

      input[type="range"]::-ms-tooltip {
        display: none;
      }

      /* thumb */

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 18px;
        border: none;
        border-radius: 12px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c8a45e), color-stop(100%, #decca1)); /* android <= 2.2 */
        background-image: -webkit-linear-gradient(top , #c8a45e 0, #c8a45e 100%); /* older mobile safari and android > 2.2 */;
        background-image: linear-gradient(to bottom, #c8a45e 0, #c8a45e 100%); /* W3C */
      }

       input[type="range"]:disabled::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 18px;
        border: none;
        border-radius: 12px;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, grey), color-stop(100%, #decca1)); /* android <= 2.2 */
        background-image: -webkit-linear-gradient(top , grey 0, grey 100%); /* older mobile safari and android > 2.2 */;
        background-image: linear-gradient(to bottom, grey 0, grey 100%); /* W3C */
      }

      input[type="range"]::-moz-range-thumb {
        width: 40px;
        border: none;
        border-radius: 12px;
        background-image: linear-gradient(to bottom, #c8a45e 0, #c8a45e 100%); /* W3C */
      }

      input[type="range"]::-ms-thumb {
        width: 40px;
        height: 18px;
        border-radius: 12px;
        border: 0;
        background-image: linear-gradient(to bottom, #c8a45e 0, #c8a45e 100%); /* W3C */
      }

      #day_output,#time_output {
        display: block;
        font-size:100%;
        color:#aeaeae;

      }

      #day_output{margin-left: 31%; margin-bottom: 5%;}
      #time_output{margin-left: 34%;margin-bottom: -4%;display: none;}
      #day,#time{margin-bottom: 7%;width: 88%;}

      .now {
        margin-bottom: 0;
        margin-top: 0;
        background:none;
        border:none;
        margin-left: 25%;
        font-size:70%;
        color:rgb(35, 40, 43);
        cursor: auto;
        display: none;
      }

    /*******Neighborhood labels*********/

    .neighborhood-label .name-label {
        color: white;
        font-family: Montserrat;
        text-align:center;
        opacity: 0.9;
    }

    .neighborhood-label .location-count-label {
        margin-top: 0.2rem;
        color: #c8a45e;
        font-size:0.7rem;
        text-align:center;
        opacity: 0.9;
    }

  /****tooltip css****/


  .tooltip-info li{
    list-style-type: none;
    font-size:10px;
    margin-left: 0;
  }

  .tooltip-info{
    margin-left: 0.1rem;
    margin-right: 0;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
  }

  .leaflet-popup-content{
    padding: 0.1rem 0.1rem 0.1rem 0.5rem !important;
  }
  .leaflet-container .tooltip-info h1{
  font-size: 1rem;
  color:#5b5b5b;
  margin-bottom: 0.1rem;
  }

  .leaflet-container .tooltip-info h2, .leaflet-container .tooltip-info h3{
  display: inline;
  font-size: 0.75rem;
  color:#aeaeae;
  font-weight: normal;
  }

  .leaflet-container .tooltip-info h2 {
      margin-right: 1rem;
  }

  .leaflet-container .tooltip-info p{
  display: inline;
  font-size: 0.75rem;
  color:#5b5b5b;
  font-family: Montserrat, Arial, sans-serif;
  margin-right: 2rem;
  }

  .leaflet-container .cheapest_price{
    color: #5b5b5b;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 0.75rem;
    display: inline-block;
    vertical-align: top;
    margin-top: 0rem;
  }

  .leaflet-container .metro_info p{
   display: inline;
  font-size: 0.70rem;
  color:#5b5b5b;
  font-family: Montserrat, Arial, sans-serif;
  margin-right: 0.4rem;
  }

   .leaflet-container .line{
    display: inline-block;
    width:1rem;
    height:1rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    vertical-align: bottom;
   }

   input[type=checkbox] {
    display:none;
}

.filter-by-hours-label {
  display: block;
  font-size: 100%;
  color:#aeaeae;
}

input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 15px;  
    height: 15px;  
    vertical-align:middle;
    margin-right: 8px;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}

input[type=checkbox]:checked + label:before {
    content:"\2714"; /* Tick */
    color:white;
    background-color: #666; 
    text-align:center;
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
}

.loading-indicator-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.4);
}