.hidden {
    height: 0;
    visibility: hidden;
}

.location-editor-container {
    font-family: Roboto;
    font-size: 14px;
}

.location-editor-line {
    padding-bottom: 4px;
}

.location-editor-title {
    font-weight: 400;
    margin-right: 10px;
}

.place-name {
    font-weight: 400;
    font-size: 16px;
    color: steelblue;
}

input {
    font-size: 14px;
}

.business-hour-table {
    padding-left: 20px;

    td {
        padding: 10px;
    }
}