@font-face {
    font-family: NexaBold;
    font-weight: bold;
    src: url('../fonts/NexaBold.otf') format('opentype');
}

@font-face {
    font-family: NexaLight;
    src: url('../fonts/NexaLight.otf') format('opentype');
}

html, body, section, h1, h2, h3, p {
    font-family: NexaLight !important; 
}

.light-font {
    font-family: NexaLight !important;
}

.bold-font {
    font-family: NexaBold !important;
}

.bg-primary {
    background-color: #262C30 !important;
}

.text-primary {
    color: #C7A25B !important;
}

hr.primary, hr {
    border-color: #C7A25B !important;
}

a.btn-primary {
    background-color: #C7A25B !important;
}

.black-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0;
}